# Data Science tools and ecosystem

In this notebook, Data Science Tools and Ecosyestem are summerized.

**Objectives:**
    
    + Create a new Jupyter Notebook
    + Use different header levels
    + Executing Arithmetic Functions
    + Share notebook through Github

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Java
    4. Scala

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. TensorFlow
    3. Scipy
    4. Numpy

##### Table listing three development environment open source tools in Data science

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Zeppelin|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

###### example of arithmatic expression:

In [1]:
(11+3)*2

28

In [1]:
#This is simple arithmetic expression to multiply then add integer
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
 Ambrish Tripathi